{% if threaded %}
  {{ attach_library('classy/drupal.comment.threaded') }}
{% endif %}
{%
  set classes = [
    'comment',
    'js-comment',
    status != 'published' ? 'comment--' ~ status,
    comment.owner.anonymous ? 'by-anonymous',
    author_id and author_id == commented_entity.getOwnerId() ? 'by-' ~ commented_entity.getEntityTypeId() ~ '-author',
    'clearfix',
  ]
%}
<article role="article"{{ attributes.addClass(classes)|without('role') }}>

  <div class="comment__meta col-sm-3">
    {#
      Hide the "new" indicator by default, let a piece of JavaScript ask the
      server which comments are new for the user. Rendering the final "new"
      indicator here would break the render cache.
    #}
    <span class="hidden text-danger" data-comment-timestamp="{{ new_indicator_timestamp }}"></span>
    {{ user_picture }}
    <small class="comment__author">{{ author }}</small>
    {#
      Indicate the semantic relationship between parent and child comments
      for accessibility. The list is difficult to navigate in a screen
      reader without this information.
    #}
    {% if parent %}
      <p class="sr-only">{{ parent }}</p>
    {% endif %}
  </div>

  <div{{ content_attributes.addClass(['comment__content', 'col-sm-9', 'card']) }}>
    <div class="card-block">
      {% if title %}
        {{ title_prefix }}
        <h3{{ title_attributes.addClass('card-title') }}>{{ title }}</h3>
        {{ title_suffix }}
      {% endif %}
      {{ content|without('links') }}
      {% if content.links %}
        <nav>{{ content.links }}</nav>
      {% endif %}
    </div>
    <div class="card-block">
      <span class="comment__time">{{ created }}</span>
      <span class="comment__permalink">{{ permalink }}</span>
    </div>
  </div>
</article>